body{font-family: 'Open Sans', sans-serif;
}

nav > ul {
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 100px;

}
nav a{
    text-decoration: none;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
}
.commonbutton{
    font-size: 18px;
    font-weight: 400;
    color: white;
    border:0px;
    border-radius: 6px;
    background: #f77d25;
    padding: 12px 35px;
}

.styleP{
    color:#f77d25;
}

.polash{
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
}

.headersection{
    background-color: #faeee5;

}


.bannersection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 230px;
    background-image:url('header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.gretting{ 
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color:rgb(29, 27, 27);
    margin: 0px;
}

.myname{
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-container{
    margin-top: 130px;
    text-align: center;
    padding: 140px 160px;
    background-color:#faeee5;
}

.aboutinfo{
    display:flex;
    justify-content:space-around;
}

.aboutcommonclass{
    color:rgb(76, 71, 71);
    font-size: 15px;
    margin-bottom: 0px;
}


.what-i-do{
    margin-top: 0px;
    text-align: center;
    padding: 140px 160px;
}

.boxcontainer{
    display: flex;
    text-align: center;
    margin: 2px solid black;
    justify-content:space-around;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill{
    padding: 30px;
    gap: 24px;
    box-shadow: 0px 6px 50px 0px rgba(250, 158, 158, 0.772);
}

.resume-summery{
    display: flex;
    gap: 100px;

    

}

.Resume-Container{
    text-align: center;
    margin-top: 130px;
}

.boxinfo{
justify-content: space-around;
line-height: 25px;
}

.download-cv{
    text-align: center;
}